/relieff-scores-10-100-GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.txt
/relieff-scores-10-100-GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1_ORIGINAL.txt
/relieff-turf-scores-10-100-50-GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.txt
